

.background{
  height: 100vh;
  width: 100vw;
  background-color: #81e5e8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBox{
  height: auto;
  padding: 20px;
  width: 40vw;
  background-color: #2fab6b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px #224957;
}

input{
  width:200px;
  height:30px;
  border-radius:5px;
  color: white;
  margin-bottom: 10px;
  background-color:#224957;
  border:1px solid rgb(0, 0, 0);
}


input[type="submit"]{
  width:200px;
  height:30px;
  border-radius:5px;
  background-color: white;
  margin-bottom: 10px;
  color:#224957;
  border:1px solid rgb(0, 0, 0);
}


